// You custom settings file to override Foundation defaults
@import "settings";
@import "foundation";

body {
	background: url(../images/background.jpeg) repeat top left;
}
h1 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	font-weight: normal;
	position: relative;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
	font-size: 36px;
	line-height: 40px;
	font-family: 'Carrois Gothic', sans-serif;
}
h2 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
	position: relative;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
	font-size: 30px;
	line-height: 40px;
}
h3 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
	position: relative;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
	font-size: 24px;
	line-height: 40px;
}
h4 {
	margin: 1em 0 0.75em;
	padding: 0 0 5px 0;
	font-weight: normal;
	font-family: 'Scada', sans-serif;
	position: relative;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.5);
	font-size: 18px;
	line-height: 20px;
}
.navigation li {
	a {
		display: block;
	}
	text-align: center;
}
#page {
	background: $background;
	padding: $columnGutter * 2;
	border-top: 3px solid $secondaryColor;
	border-radius: 0 0 $buttonRadius $buttonRadius;
}
#linkedin, #google {
	text-align:center;
}