---
layout: application
current: about
title: About < James Cryer
description: About James Cryer, Senior Software Engineer from Cardiff, UK
keyword: Open Source, James Cryer, PHP, iOS, JavaScript, jQuery, WordPress, Cardiff, Wales, UK
---

<div id="intro">
    <div class="container slim">
        <div class="container-narrow">
            <span class="font-rocket m-icon"></span>
            <h1>About</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid about">
        <div class="span8">
            <h2>Intro</h2>
            <img src="../img/me2.png" class="img-circle" />
            <p>Hello there! My name is James Cryer and welcome to my personal website and blog - the home of my thoughts and ideas on the latest trends in software engineering for the web and mobile.</p>
            <p>I am based in Cardiff, UK - where I have lived for over the past 10 years.</p>
            <h3 class="history">History</h3>
            <p>Since graduating from <a href="http://www.cardiff.ac.uk/">Cardiff University</a> with a 1st class degree in Computer science, I have worked in the web industry.</p>
            <p>Over the last 6 years, I have honed my skills across several platforms and languages to reach the level of Senior Software Engineer.  My long term goal is to become a CTO / Director for a software house.</p>
            <p>I pride myself on being socialable developer and prefer a face to face conversation than one conducted over Skype/Google Talk.</p>
            <p>I follow the ethos of learning something new everyday which I think it is essential for the success into today's web industry.</p>
            <p>Four years of my professional career was spent at <a href="http://www.boxuk.com">Box UK</a>, an excellant software company based in Cardiff. Whilst at Box UK, I lead on several medium to large projects for financial, leisure and education sectors   .</p>
            <p>With the salient growth in the mobile market, I have spent the past 2 years further my skillset to include native mobile application.  During 2012, I collaborated on a project to deliver an application for both iOS and Android marketplace for a major UK retailer.</p>

            <p>Currently, I am a Senior Web Developer at <a href="http://www.bbc.co.uk/">BBC</a> Future Media for <a href="http://www.bbc.co.uk/travelnews">Travel News</a> product. This is a new opportunity that I started in September 2013.</p>

            <p>Aside from the above, I have also worked passionately with small / medium businesses over the past 18 months to development and deliver software solutions to enable them to meet the needs of their clients.</p>

            <p>To see more details of my education and employment history, please visit my <a class="font-linkedin" href="http://www.linkedin.com/in/jamescryer">LinkedIn profile</a>.</p>

            <h3>Speaking</h3>
            <p>I am always keen to share my experiences and I love the opportunity to talk on topics I am passionate about.</p>
            <p>I have previously spoken at:</p>
            <ul>
                <li>
                    <a href="http://cardiffusers.wordpress.com/2011/11/22/weyhey-final-details/">WordPress User Wales #1</a>
                    <span>November 2011</span>
                </li>
                <li>
                    <a href="http://cardiffusers.wordpress.com/2013/01/24/getting-responsive-with-wordpress/">WordPress User Wales: RWD</a>
                    <span>February 2013</span>
                </li>
                <li>
                    <a href="http://www.meetup.com/unified-diff/events/119913782/">unified.diff: Optimising your workflow with Yeoman!</a>
                    <span>July 2013</span>
                </li>
            </ul>
            <h3>Future</h3>
            <p>I am always looking to further myself, learn new skills and tackle new challenges.  During 2013, I plan to study towards a couple of courses through <a href="https://www.coursera.org/">coursera</a> to further my development skills</a>.  Alongside this, development on my first product will start which should hopefully launch late 2013.</p>
        </div>
        <div class="span4 aside">
            {% include shared/skills.html %}
            {% include shared/badges.html %}
            {% include shared/other-content.html %}

        </div>
    </div>
</div>
