---
layout: application
current: about
title: About
description: About James Cryer, Senior Software Engineer from Cardiff, UK
keyword: Open Source, James Cryer, PHP, iOS, JavaScript, jQuery, WordPress, Cardiff, Wales, UK
---

<div id="intro">
    <div class="container slim">
        <div class="container-narrow">
            <span class="font-rocket m-icon"></span>
            <h1>About</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid about">
        <div class="span8">
            <h2>Intro</h2>
            <img src="../img/me2.png" class="img-circle" />
            <p>Hello there! Welcome to my personal site - the home of my thoughts and ideas on the latest trends in software engineering for the web and mobile.</p>
            <p>I'm based in Cardiff, UK - where I've lived for over the past 10 years.</p>

            <h3 class="history">A little about myself...</h3>
            <p>Since graduating from <a href="http://www.cardiff.ac.uk/">Cardiff University</a> with a 1st class degree in Computer Science, I've worked in the web industry.</p>
            <p>Over the last 6 years, I've honed my skills across several platforms and languages to reach the level of Senior Lead Developer.  My long term goal is to become a CTO / Director for a software house.</p>
            <p>I pride myself on being socialable developer and prefer a face to face conversation than one conducted over IM.</p>
            <p>I follow the ethos of learning something new everyday which I think is essential for success into today's web industry.</p>

            <h3>Writing</h3>
            <p>It has always been an ambitious of mine to write a book and during 2013 I decided to start this journey. I wrote an article on optimizing developer workflow, using <a href="http://yeoman.io">Yeoman</a>, for the popular web magazine <a href="http://www.creativebloq.com/net-magazine">.NET</a>.</p>

            <p>In 2014, I will be co-authoring an open source book, <a href="https://github.com/tooling/book-of-modern-frontend-tooling">The Little Book of Modern Front-end Tooling</a>, with some of the best minds in the web industry.</p>

            <p>Co-author of Yeoman's first <a href="http://yeoman.io/codelab.html">CodeLab</a> with <a href="http://addyosmani.com/blog/">Addy Osmani</a> and Pearl Chen.</p>
            
            <p>In 2015 in partnership with Apress I've published my first book <a href="http://www.apress.com/9781484200148">Pro Grunt.js</a>. Pro Grunt.js gets you quickly up-to-speed with this popular JavaScript-based task runner.  Each chapter focused on a group of plugins that can be used to optimise your developer workflow.</p>

            <h3>Community</h3>
            <p>I pride myself on mentoring developers around me and giving back to the community.  I've developed, and co-developed, several open source projects recently.</p>

            <p>Most notable projects are <a href="http://gruntjs.com/">Gruntjs</a> plugins for automating tasks such as running <a href="http://www.phpnit.de">PHPUnit</a>, <a href="http://www.cukes.info">Cucumber</a> and <a href="https://developers.google.com/speed/pagespeed/">Google PageSpeed Insights</a>.</p>

            <p>To see a full list of the projects visit the <a href="/projects">projects page</a> or my <a href="http://www.github.com/jrcryer/">Github profile</a>.</p>

            <h3>Speaking</h3>
            <p>I'm always keen to share my experiences and I love the opportunity to talk on topics I'm passionate about.</p>
            <p>I've previously spoken at:</p>
            <ul>
                <li>
                    <a href="http://cardiffusers.wordpress.com/2011/11/22/weyhey-final-details/">WordPress User Wales #1</a>
                    <span>November 2011</span>
                </li>
                <li>
                    <a href="http://cardiffusers.wordpress.com/2013/01/24/getting-responsive-with-wordpress/">WordPress User Wales: RWD</a>
                    <span>February 2013</span>
                </li>
                <li>
                    <a href="http://www.meetup.com/unified-diff/events/119913782/">unified.diff: Optimising your workflow with Yeoman!</a>
                    <span>July 2013</span>
                </li>
                <li>
                    <a href="http://port80events.co.uk/event/summer-localhost/">Port80 Localhost: CSS Preprocessors: LESS is more or look SASS-y trying</a>
                    <span>August 2013</span>
                </li>
            </ul>

            <h3 class="history">Employment</h3>
            <p>Four years of my professional career was spent at <a href="http://www.boxuk.com">Box UK</a>, an excellant software company based in Cardiff. Whilst at Box UK, I lead on several medium to large projects for financial, leisure and education sectors.</p>
            <p>With the salient growth in the mobile market, I've spent the past 3 years further my skillset to include native mobile application.  During 2012, I collaborated on a project to deliver an application for both iOS and Android marketplace for a major UK retailer.</p>

            <p>This project was closely followed by a project to develop an iPad application for an international consumer goods company which was showcased during at their conference in Singapore at the tail end of 2013.</p>

            <p>Currently, I'm a Senior Developer at <a href="http://www.bbc.co.uk/">BBC</a> Future Media for <a href="http://www.bbc.co.uk/travelnews">Travel News</a> product, leading a team of 4 developers. This is a new opportunity that I started in September 2012.</p>

            <p>Aside from the above, I have also worked passionately with small / medium businesses over the past 24 months to development and deliver software solutions to enable them to meet the needs of their clients.</p>

            <p>To see more details of my education and employment history, please visit my <a class="font-linkedin" href="http://www.linkedin.com/in/jamescryer">LinkedIn profile</a>.</p>

            <h3>The future...</h3>
            <p>I'm always looking to further myself, learn new skills and tackle new challenges. During 2014, I plan to study towards a couple of courses through <a href="https://www.coursera.org/">coursera</a> to further my development skills</a>.  Alongside this, I plan to develop my first product which should hopefully launch late 2014.</p>
        </div>
        <div class="span4 aside">
            {% include shared/skills.html %}
            {% include shared/badges.html %}
            {% include shared/other-content.html %}

        </div>
    </div>
</div>
