---
layout: application
current: home
title: James Cryer, web and mobile developer
description: Home for open source projects / experiments from James Cryer
keyword: Open Source, James Cryer, PHP, iOS, JavaScript, jQuery, WordPress, Cardiff, Wales, UK
---

<div id="intro">
    <div class="container">
        <div class="container-narrow">
            <h1>James Cryer</h1>
            <h2>Web and Mobile Developer</h2>
            <p class="lead">A highly skilled developer with a passion for the web. Working with agencies and start ups to produce awesome sites and applications.</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <hr />
        {% include solutions.html %}
        <hr />
        {% include process.html %}
        <hr />
        {% include icons.html %}
    </div>
</div>
