---
layout: application
current: home
---

<div id="intro">
    <div class="container">
        <div class="container-narrow">
            <h1>James Cryer</h1>
            <h2>Web and Mobile Developer</h2>
            <p class="lead">Digital expert with a passion for the web. Working with agencies and independently to produce awesome sites and applications.</p>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <hr />
        {% include solutions.html %}
        <hr />
        {% include process.html %}
        <hr />
        {% include icons.html %}
    </div>
</div>