---
layout: application
current: projects
---

<div class="intro">
    <div class="container-narrow">
        <h1>Projects</h1>
        <p class="lead">Please find below a selection of small applications developed as learning aids for new technology</p>
    </div>
</div>
<div class="projects">
    <div class="container">
        <hr />
        {% include projects/php.html %}
        <hr />
        {% include projects/ruby.html %}
        <hr />
        {% include projects/ios.html %}
        <hr />
        {% include projects/js.html %}
        <hr />
        {% include projects/wordpress.html %}
        <hr />
        {% include icons.html %}
    </div>
</div>