---
layout: application
current: projects
title: Projects
description: Open Source contributions by James Cryer
keyword: Open Source, James Cryer, PHP, iOS, JavaScript, jQuery, WordPress, Cardiff, Wales, UK
---

<div id="intro">
    <div class="container slim">
        <div class="container-narrow">
            <span class="font-database m-icon"></span>
            <h1>Projects</h1>
            <p class="lead">OSS projects contributions</p>
        </div>
    </div>
</div>
<div class="projects">
    <div class="container">
        {% include projects/js.html %}
        <hr />
        {% include icons.html %}
    </div>
</div>