<div class="row-fluid projects">
    <div class="span12">
        <h3>JavaScript</h3>
    </div>
</div>
<div class="row-fluid projects">
    <div class="span6">
        <h4><a href="https://github.com/jrcryer/node.js-youtube-scraper">Node.js jQuery Mobile YouTube Scraper</a></h4>
        <p>An experimental app to scrap content from YouTube and present content in a mob web app using jQuery Mobile</p>
    </div>
    <div class="span6">
        <h4><a href="http://jrcryer.github.com/jquery.ajax-file-uploader/">jQuery AJAX File Upload</a></h4>
        <p>Simple jQuery plugin to make AJAX file uploading easy!</p>
    </div>
</div>