<div class="row-fluid projects">
    <div class="span12">
        <h3>JavaScript</h3>
    </div>
</div>
<div class="row-fluid projects">
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/grunt-pagespeed">Grunt PageSpeed</a></h4>
        <p>A <a href="http://www.gruntjs.com">Grunt</a> plugin to run PageSpeed Insights against multiple URLs using the Google API</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/grunt-har-gen">Grunt HAR Gen</a></h4>
        <p>A <a href="http://www.gruntjs.com">Grunt</a> plugin to generate a HAR file from mutiple URLs</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/generator-mean">Generator MEAN</a></h4>
        <p>Generator for a MEAN stack, taken massive inspiration from <a href="http://mean.io">mean.io</a></p>
    </div>
</div>
<div class="row-fluid projects">
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/grunt-phpcpd">Grunt PHPCPD</a></h4>
        <p>A <a href="http://www.gruntjs.com">Grunt</a> plugin to run PHPCPD against your local project</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/grunt-phpcs">Grunt PHPCS</a></h4>
        <p>A <a href="http://www.gruntjs.com">Grunt</a> plugin to run PHPCS against your local project</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/grunt-pagespeed-local">Grunt PHPUnit</a></h4>
        <p>A <a href="http://www.gruntjs.com">Grunt</a> plugin to run PHPUnit against your local project</p>
    </div>
</div>
<div class="row-fluid projects">
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/grunt-phpspec">Grunt PHPSpec</a></h4>
        <p>A <a href="http://www.gruntjs.com">Grunt</a> plugin to run PHPSpec against your local project</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/grunt-phpmd">Grunt PHPMD</a></h4>
        <p>A <a href="http://www.gruntjs.com">Grunt</a> plugin to run PHPMD against your local project</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/grunt-rcukes">Grunt RCukes</a></h4>
        <p>A <a href="http://www.gruntjs.com">Grunt</a> plugin to run Ruby Cucumber against your local project</p>
    </div>
</div>