<div class="row-fluid projects">
    <div class="span12">
        <h3>Ruby</h3>
    </div>
</div>
<div class="row-fluid projects">
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/mobi-rss">MobiRSS</a></h4>
        <p>Sinatra application using jQuery mobile to view RSS feeds.  Feeds are read using YQL.</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/songbird-sinatra">Songbird Sinatra</a></h4>
        <p>URL Shortner App using Ruby, Sinatra and MongoDb (originally Redis).</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/TweetieTap">TweetieTap</a></h4>
        <p>Experiment with <a href="https://dev.twitter.com/docs/anywhere/welcome">Twitter's @Anywhere</a> library.</p>
    </div>
</div>