<div class="row-fluid projects">
    <div class="span12">
        <h3>iOS</h3>
    </div>
</div>
<div class="row-fluid projects">
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/Notez">Notez</a></h4>
        <p>An experimental application to understand how CoreData integrates with UITableViewController.</p>
        <p>The built application allows a user to add notes which are persisted in sqlite database.</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/coredatapref">CoreDataPref</a></h4>
        <p>An experimental application to perform a number of tests against CoreData.</p>
        <p>The built application allows a user to run each test and displays the time taken to extract / update data via CoreData.</p>
        <p>This application can be used to understand the best extraction strategies when using CoreData.</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/shapez">Shapez</a></h4>
        <p>An experimental application with CoreData and custom drawing with an iPad application.</p>
    </div>
</div>