.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
}
.footer {
    background: #202020;
    color: @white;
    margin: 24px 0 0;
    padding: 24px;

    p {
        margin: 0;
    }
}
a,
a:focus,
a:visited,
a:hover {
    color: @red;
}
.btn-primary:visited {
    color: @white;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
    color: #000;
    background-color: transparent;
}
#badges {
    width: 75%;
    margin: 24px auto;
    font-size: 32px;

    li {
        float: left;
    }
    a {
        display: block;
        line-height: 42px;
        width: 32px;
        overflow: hidden;
        height: 40px;
        margin: 0 6px;
        color: #3D3D3D;
        -webkit-transition: all linear .2s;
        -moz-transition: all linear .2s;
        -o-transition: all linear .2s;
        transition: all linear .2s;
    }
    a:hover {
        text-decoration: none;
        color: @red;
    }
}
.clear {
    clear: both;
}