<footer class="row">
    <div class="five columns centered">
        <ul class="block-grid four-up">
            <li id="github">
                <a href="http://github.com/jrcryer"><img src="../images/github.png" alt="Github Repos" /></a>
            </li>
            <li id="linkedin">
                <a href="http://uk.linkedin.com/in/jamescryer"><img src="../images/linkedin.png" alt="LinkedIn Profile" /></a>
            </li>
            <li id="googleplus">
                <a href="https://plus.google.com/106644155952209673321/posts"><img src="../images/googleplus.png" alt="Google Plus Profile" /></a>
            </li>
            <li id="twitter">
                <a href="http://twitter.com/jrcryer"><img src="../images/twitter.png" alt="Twitter Profile" /></a>
            </li>
        </ul>
    </div>
    <span class="copyright column threee push-nine">Copyright <a href="mailto:chat@jamescryer.com">James Cryer</a> 2012 &copy;</span>
    <div class="clear"></div>
</footer>
