<footer class="container_16">
    <ul class="grid_16">
        <li id="github" class="grid_3 prefix_4 push_1"><a class="replace" href="http://github.com/jrcryer">GitHub</a></li>
        <li id="linkedin" class="grid_1"><a class="replace" href="http://uk.linkedin.com/in/jamescryer">LinkedIn</a></li>
        <li id="googleplus" class="grid_1"><a class="replace" href="https://plus.google.com/106644155952209673321/posts">Google+</a></li>
        <li id="twitter" class="grid_3"><a class="replace" href="http://twitter.com/jrcryer">Twitter</a></li>
    </ul>
    <span class="grid_4 copyright">Copyright <a href="/">James Cryer</a> 2011 &copy;</span>
    <div class="clear"></div>
</footer>