<header id="title" class="row">
    <hgroup class="three columns">
        <h1 id="page-title">
            <a href="/">
                <span class="first">James</span> <span class="second">Cryer</span>
            </a>
        </h1>
    </hgroup>
    <nav class="seven columns push-one">
    	<ul class="block-grid four-up">
            <li>
                <a href="/#about">About</a>
            </li>
            <li>
                <a href="/#services">Services</a>
            </li>
            <li>
                <a href="/#projects">Projects</a>
            </li>
            <li>
                <a href="/labs">Labs</a>
            </li>
        </ul>
    </nav>
</header>