<div class="masthead">
    <div class="container">
        <!-- <h3 class="muted">James Cryer</h3> -->
        <ul class="nav nav-pills pull-right">
            <li{%if page.current == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
            <li{%if page.current == 'about' %} class="active"{% endif %}><a href="/about">About</a></li>
            <!-- <li{%if page.current == 'posts' %} class="active"{% endif %}><a href="/blog">Blog</a></li> -->
            <li{%if page.current == 'projects' %} class="active"{% endif %}><a href="/projects">Projects</a></li>
            <li{%if page.current == 'playground' %} class="active"{% endif %}><a href="/playground">Playground</a></li>
        </ul>
    </div>
</div>
