<div class="row-fluid icons">
    <div class="span2">
        <span class="font-android m-icon"></span>
        <p class="lead">Android</p>
    </div>
    <div class="span2">
        <span class="font-apple m-icon"></span>
        <p class="lead">iOS</p>
    </div>
    <div class="span4">
        <span class="font-wordpress m-icon"></span>
        <p class="lead">Wordpress</p>
    </div>
    <div class="span2">
        <span class="font-html5 m-icon"></span>
        <p class="lead">HTML5</p>
    </div>
    <div class="span2">
        <span class="font-css3 m-icon"></span>
        <p class="lead">CSS3</p>
    </div>
</div>