<div class="row-fluid process">
    <div class="span12">
        <h3>The process</h3>
    </div>
</div>
<div class="row-fluid process">
    <div class="span4">
        <h4>Definition</h4>
        <div class="font-wrapper">
            <span class="font-tree m-icon"></span>
        </div>
        <p>At the early stages, product visioning and definition is carried out collobaratively to ensure projects deliver results.</p>
    </div>
    <div class="span4">
        <h4>Development</h4>
        <div class="font-wrapper">
            <span class="font-cogs m-icon"></span>
        </div>
        <p>My development metholodgy follows agile development practises following the principles of <a href="http://martinfowler.com/bliki/TestDrivenDevelopment.html">Test Driven Development (TDD)</a> with <a href="http://dannorth.net/introducing-bdd/">Behaviour Driven Development (BDD)</a>.  Features are delivered iteratively ensure early returns on investment.</p>
    </div>
    <div class="span4">
        <h4>Delivery</h4>
        <div class="font-wrapper">
            <span class="font-cloud-upload m-icon"></span>
        </div>
        <p>An ethos of delivering quality features.  Once live, a close working relationship is maintained and enhance products to ensure products continue to deliver returns.</p>
    </div>
</div>