<div class="row-fluid solutions">
    <div class="span12">
        <h3>Approaches</h3>
    </div>
</div>
<div class="row-fluid solutions">
    <div class="span4">
        <h4>Web</h4>
        <div class="font-wrapper">
            <span class="font-html5 m-icon"></span>
        </div>
        <p>With over 6 year commerical software development for the web.  Bespoke application development using the latest technologies such as PHP, Ruby, HTML5, CSS3, JavaScript, Scala and NodeJS.</p>
    </div>
    <div class="span4">
        <h4>CMS</h4>
        <div class="font-wrapper">
            <span class="font-layers m-icon"></span>
        </div>
        <p>Using open source CMS platforms, such as WordPress and Drupal, to turn rapidly transform concepts into solutions.  Use of existing widely adopted platforms dramatically reduce costs and time.</p>
    </div>
    <div class="span4">
        <h4>Mobile</h4>
        <div class="font-wrapper">
            <span class="font-mobile m-icon"></span>
        </div>
        <p>Development of native applications for iPhone, iPad and Android devices.  Use of Objective-C and Java ensure you are position to exploit the latest developments in both iOS and Android platforms.</p>
    </div>
</div>