<div class="row-fluid solutions">
    <div class="span12">
        <h3>Approaches</h3>
    </div>
</div>
<div class="row-fluid solutions">
    <div class="span4">
        <h4>Web</h4>
        <div class="font-wrapper">
            <span class="font-html5 m-icon"></span>
        </div>
        <p>Over 8 years experience of developing scalable software solutions for the web. Offering a unique blend of strong front-end and back-end skills. Developing web apps using the technologies such as PHP, Ruby, HTML5, CSS3, JavaScript, Scala and NodeJS.</p>
    </div>
    <div class="span4">
        <h4>Mobile</h4>
        <div class="font-wrapper">
            <span class="font-mobile m-icon"></span>
        </div>
        <p>A responsive evangelist, delivering software that will adapt to your client's device.  Ensuring your products and service have maximum reach.  Your clients maybe at home, work or on the train - your products will be available whenever they're needed.</p>
    </div>
    <div class="span4">
        <h4>Native</h4>
        <div class="font-wrapper">

            <span class="font-layers m-icon"></span>
        </div>
        <p>Development of native applications for iPhone, iPad and Android devices.  Use of Objective-C and Java ensure you're positioned to exploit the latest developments in both iOS and Android platforms.</p>
    </div>
</div>
