$red: #e64136;
$grey: #F5F5F5;
$white: #fff;

@import 'modules/_bootstrap';
@import 'modules/_prettyprint';
@import 'modules/_font';
@import 'modules/_general';
@import 'modules/_header';
@import 'modules/_home';
@import 'modules/_projects';
@import 'modules/_about';
@import 'modules/_blog';
@import 'modules/_icons';
@import 'modules/_responsive';