
@media only screen and (min-width: 480px) {

    .masthead {
        .nav {
            right: 2.5%;
            width: 54%;

            li {
                width: 20%;
            }
        }
    }

    #badges {
        width: 34%;
    }
}
@media only screen and (min-width: 768px) {
    .content {
        h4 {
            text-align: center;
        }
        .font-wrapper {
            float: none;
            margin: 10px auto;
        }
        .span4 {
            clear: none;
            margin-left: 2.127659574468085%;
        }
    }

    #intro .container {
        padding: 80px 0;
        background-position: top 50%;
    }
    #intro .container.slim {
        padding: 20px 0;
    }

    #badges {
        width: 75%;
    }
}