<h3>My skills</h3>
<div class="row-fluid">
    <ul class="span6">
        <li>Ruby</li>
        <li>PHP</li>
        <li>NodeJS</li>
        <li>Scala</li>
        <li>VCS (Git + SVN)</li>
        <li>SCRUM - CSM</li>
        <li>CSS</li>
        <li>Objective C</li>
        <li>Java</li>
    </ul>
    <ul class="span6">
        <li>CSS3</li>
        <li>HTML</li>
        <li>JavaScript</li>
        <li>TDD</li>
        <li>BDD</li>
        <li>Continuous Integration</li>
        <li>Android</li>
        <li>Cloud solutions</li>
    </ul>
</div>