<div class="row-fluid projects">
    <div class="span12">
        <h3>Wordpress</h3>
    </div>
</div>
<div class="row-fluid projects">
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/postez-for-wordpress">Postez For WordPress</a></h4>
        <p>WordPress widget plugin to display one or many posts in a widget.</p>
        <p>Widget supports customised titles and custom post types.</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/addthis-analytics-wp">Addthis Analytics WordPress</a></h4>
        <p>WordPress widget plugin to display <a href="http://www.addthis.com">addthis</a> analytics information about a blog.</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/google-site-map-for-wordpress">Google Site Map for WordPress</a></h4>
        <p>Generates a Google Sitemap automatically for a WordPress site.</p>
        <p>Sitemap is automatically refreshed when content is added, updated or removed.</p>
        <p>Plugin adds an admin page allow an admin to modify content of the sitemap.</p>
    </div>
</div>
<div class="row-fluid projects">
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/flickr-for-wordpress">Flickr for WordPress</a></h4>
        <p>WordPress plugin for display the five latest images in a user's Flickr photostream.</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/twitter-for-wordpress">Twitter for WordPress</a></h4>
        <p>WordPress plugin for displaying a user's tweets in a widget.</p>
    </div>
    <div class="span4">
        <h4><a href="https://github.com/jrcryer/wp-image-advert">Custom Image Advert WordPress Plugin</a></h4>
        <p>Custom plugin to advertise a post with a media file.  Usage is intended for secondary content areas.</p>
    </div>
</div>