body {
    font-family: 'Mako', Arial;
    margin: 0 auto;
    padding: 1.875em 0;
    background:url(../images/background.png);
    color: #3D3D3D;
}
h1, h2 {
    font-family: 'Lobster', Arial;
}

#title {
    background: #224466;
    padding: 0.125em 0;
    margin-bottom: 1em;
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
#title hgroup {
    padding: 0.3125em 0 0.9375em;
    border-top: 2px solid #F7F7F7;
    border-bottom: 2px solid #F7F7F7;
}
#page-title {
    text-align:center;
    z-index:1000;
}
header h1 {
    font-size: 2.5em;
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg);
}
header h1 a,
header h1 a:hover,
header h1 a:visited,
header h1 a:active {
    color: #F7F7F7;
    text-decoration: none;
    text-shadow: 0.08em 0.1em 0.01em #333;
}

nav {
    background: rgba(34, 68, 102, 0.95);
    padding: 0.625em 0;
    margin-bottom: 2em;
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline;
    padding: 0 8%;
}
nav a,
nav a:hover,
nav a:visited,
nav a:active {
    color: #F7F7F7;
    text-decoration: none;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px #3F3F3F;
}

section#strapline {
    margin-bottom: 2em;
}
section#strapline h2 {
   text-align: center;
   color: #3F3F3F;
   text-decoration: none;
   font-size: 2.2em;
   text-shadow: 1px 1px 1px white, 2px 2px 1px #3F3F3F;
   line-height: 40px;
   -o-transition: all linear 0.2s;
   -moz-transition: all linear 0.2s;
   -webkit-transition: all linear 0.2s;
   transition: all linear 0.2s;
}
section#strapline span {
    display: block;
}

article {
    font-family: 'Mako', Arial;
    background: url(../images/divider.png) 50% 100% no-repeat;
    padding-bottom: 2em;
    margin: 0 0.9375em 2em;
}
article header {
    margin-bottom: 2em;
}
article header a {
    color: #3F3F3F;
    text-decoration: none;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px #FFF, 2px 2px 1px #3F3F3F;
}
article section {
}
article section h3 {
    font-family: 'Comfortaa', Arial;
    font-size: 1.2em;
    line-height: 1.325em;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px #FFF;
    margin-bottom: 1em;
}
article section div {
    margin-bottom: 2em;
}
article section p {
    margin-bottom: 0.8em;
}
article a,
article a:hover,
article a:visited {
    color: #3D3D3D;
    text-decoration: none;
}

footer ul li {
    display:inline;
    padding: 0 8%;
}
footer .copyright {
    display: block;
    margin: 1em 0;
    text-align: center;
    font-size: 0.75em;
}
/* Media Queries */
