body {
    font-family: 'Mako', Arial;
    width: 1044px;
    margin: 0 auto;
    padding: 30px 0;
    background:url(../images/background.png);
    color: #3D3D3D;
}
h1, h2 {
    font-family: 'Lobster', Arial;
}

header {
    position: relative;
}
#page-title {
    width: 118px;
    z-index:1000;
    position: absolute;
    top: 20px;
    left: 45%;
}
header h1 {
    font-size: 2.5em;
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg);
}
header h1 a,
header h1 a:hover,
header h1 a:visited,
header h1 a:active {
    color: #F7F7F7;
    text-decoration: none;
    text-shadow: 0.08em 0.1em 0.01em #333;
}
header h1 span {
    display: block;
}
header h1 span.second {
    padding: 0 0 0 6px;
}
nav ul{
    background:url(../images/banner.png) no-repeat;
    height: 78px;
    padding: 52px 0 0;
}
nav a,
nav a:hover,
nav a:visited,
nav a:active {
    color: #F7F7F7;
    text-decoration: none;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px #3F3F3F;
}

section#strapline {
    margin-top: 20px;
    margin-bottom: 20px;
}
section#strapline h2 {
   color: #3F3F3F;
   text-decoration: none;
   font-size: 2.2em;
   text-shadow: 1px 1px 1px white, 2px 2px 1px #3F3F3F;
}
section#strapline span {
    display: block;
}
section#strapline span.second {
    padding: 0 0 0 120px;
}

article {
    font-family: 'Mako', Arial;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 0 40px;
    background: url(../images/divider.png) 50% 100% no-repeat;
}
article header {
    margin: 0 0 20px;
}
article header a {
    color: #3F3F3F;
    text-decoration: none;
    font-size: 1.8em;
    text-shadow: 1px 1px 1px #FFF, 2px 2px 1px #3F3F3F;
}
article section {
    margin-bottom: 20px;
}
article section h3 {
    font-family: 'Comfortaa', Arial;
    font-size: 1.2em;
    line-height: 1.325em;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 1px #FFF;
}
article section div {
    margin-bottom: 20px;
}
article section p {
    margin: 10px 0;
}
article a,
article a:hover,
article a:visited {
    color: #3D3D3D;
    text-decoration: none;
}

footer {
    padding: 0 0 30px;
}
footer .copyright {
    float: right;
    font-size: 0.7em;
}
footer ul a {
    display: block;
    text-indent: -9999px;
    opacity: 0.5;
    -o-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
footer ul a:hover,
footer ul a:active{
    opacity: 1;
}
#github a {
    width: 100px;
    height: 44px;
    background:url(../images/github.png) no-repeat;
}
#linkedin a {
    width: 40px;
    height: 40px;
    background:url(../images/linkedin.png) no-repeat;
}
#googleplus a {
    width: 40px;
    height: 40px;
    background:url(../images/googleplus.png) no-repeat;
}
#twitter {
    margin-top: 6px;
    margin-bottom: 6px;
}
#twitter a {
    width: 158px;
    height: 28px;
    background:url(../images/twitter.png) no-repeat;
}


/* Media Queries */

@media only screen and (max-width:480px) {
    body {
        width: 480px;
    }
    .container_16 {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    nav {
        height: 0px;
        width: 0px;
        display: none;
    }
    #title {
        position: relative;
        background:url(../images/banner.png) 55% 100% no-repeat;
        height: 130px;
    }
    #page-title {
        top:20px;
        left: 35%;
    }
    article.container_16 .grid_8 {
        width: 98.0%;
    }
    article.container_16 .push_2 {
        left: 0;
    }
    .container_16 .copyright {
        padding: 10px;
        width: 98%;
        text-align:center;
    }
    #github {
        width: 23.0%;
        left: 6.25%;
        padding-left: 0;
    }
    #linkedin {
        width: 10.5%;
        left: 12.5%;
    }
    #googleplus {
        width: 23.0%;
        left: 12.5%;
    }
    #twitter {
        width: 16.75%;
    }
}
@media only screen and (max-width:320px) {
    body {
        width: 320px;
    }
    #title {
        background-position: 51% 100%;
    }
    #page-title {
        left: 33.5%;
    }
    footer {
        position: relative;
    }
    #github {
        width: 48.0%;
        margin-bottom: 60px;
    }
    #linkedin {
        position: absolute;
        top: 60px;
        left: 52px;
        width: 48.0%;
    }
    #googleplus {
        position: absolute;
        top: 60px;
        left: 194px;
    }
    #twitter {
        width: 48.0%;
        margin-bottom: 60px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 1024px;
    }
}
