<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0" />
        <meta name="viewport" content="width=device-width">

        <title>James Cryer, PHP and iOS Developer based in Cardiff, UK</title>
        <meta name="description" content="Home for open source projects / experiments from James Cryer" />
        <meta name="keywords" content="Open Source, James Cryer, PHP, iOS, JavaScript, jQuery, WordPress, Cardiff, Wales, UK" />
        <link rel="stylesheet" href="stylesheets/reset.css" />
        <link rel="stylesheet" href="stylesheets/grid.css" />
        <link rel="stylesheet" href="stylesheets/application.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="javascript/application.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15966817-3']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Mako|Lobster|Comfortaa' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% include header.html %}

        {% include navigation.html %}
        
        {% include strapline.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>
