<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0" />
        <meta name="viewport" content="width=device-width">

        <title>James Cryer, PHP and iOS Developer based in Cardiff, UK</title>
        <meta name="description" content="Home for open source projects / experiments from James Cryer" />
        <meta name="keywords" content="Open Source, James Cryer, PHP, iOS, JavaScript, jQuery, WordPress, Cardiff, Wales, UK" />
        <link rel="stylesheet" href="/css/app.css" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15966817-3']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!--[if IE]>
    		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->
    </head>
    <body>
        {% include header.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>
